data/
audio_mel/data-mel
*.pt
*.pth
*.pt.gz
*.pth.gz
*.pt.tar
*.pth.tar
*.pt.tar.gz
*.pth.tar.gz
*.wav
*.csv
*.pkl
*pyc
*.txt
draft
experiment/logs/
experiment/.cache/
whisper_finetune/outputs/
whisper_finetune/lightning_logs/